<div id='post-{{id}}' class="post">
    <div class="title">{{title}}</div>
    <img class="pic" src="{{thumbnail}}" alt="Missing Image">
    <p class="card-text"> {{description}}</p><br>
    <div class="detail-button">
    <button id="postdetails" onclick="location.href='/post/{{id}}'" type="button">
         Details</button>
         </div>
   {{!-- <button <a href="/post/{{id}}" class="anchor-button">Post Details</a> --}}


</div>