<div id='post-{{id}}' class="post">
  <img class="pic" src="{{thumbnail}}" alt="Missing Image"><br>
  <div class="title"><strong>
      <p>{{title}} </p>
    </strong>
  </div>
  <div class="description">
    <p>{{description}} </p>
  </div>
  <div class="detail-button">
    <button id="postdetails" onclick="location.href='/post/{{id}}'" type="button">
      More</button>
  </div>
</div>